html {
  font-family: quicksand;
  padding: 20px;
  background-color: #fff;
}
table{
  font-size: 1.2rem;
}
.test2 {
  padding: 15px ;
  display: inline-flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-top: 20px;
}
.test2 li {
  box-sizing: border-box;
  padding-right: 10px;
}
.test2 li a {
  box-sizing: border-box;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #616872;
  border-radius: 2px;
}
.test2 li a:hover {
  background-color: #eee;
  cursor: pointer;
}
.test2 .currentpage a {
  background-color: #222;
  color: #fff;
}
.test2 .currentpage a:hover {
  background-color: #000;
}
.material-icons {
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 1px;
}
/*remove -bg from previous arrow*/
li:first-child a:hover {
  background: none;
}
/*remove -bg from next arrow*/
li:last-child a:hover {
  background: none;
}
.total{
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.total_num{
  margin-left: 10px;
}
.search{
  padding: 2rem;
  margin-top: 100px;
}
#card{
  font-size: 1.2rem;
  width: 91%;
  margin-left: 47px;
  box-shadow: none;
}
#card_small{
  font-size: 1.2rem;
  width: 91%;
  box-shadow: none;
}
.card .card-content{
  padding: 24px 25px;
}
#row_journey{
  margin-bottom: 33px;
  margin-top: 5px;
}
#row{
  margin-bottom: 40px;
  border-bottom: 1px solid #0000001f;
}
#bold_text{
  font-weight: 600;
}
input[type=number]:not(.browser-default):focus:not([readonly]), input.valid[type=number]:not(.browser-default){
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
input[type=number]:not(.browser-default):focus:not([readonly])+label{
  color: #000;
}
.input-field .prefix.active{
  color: #000;
}
nav{
  background-color: #000;
  color: #fff;
  width: 90%;
  margin: auto;
}
#nav-center {
  display:flex;
  justify-content: center;
}
nav ul li.active a{
  background-color: #fff;
  color: #222;
}
nav ul li.active a, nav ul li.active a:hover{
  background-color: #fff;
  color: #222;
}
nav ul li:hover{
  background-color: #ffffff50;
}
#loader{
  display: none;
}
#loader_small{
  display: none;
}
.page-footer {
  padding: 10px 0px;
  color: #fff;
  background-color: #000;
}
#footerlink {
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#github-icon{
  margin-right: 10px;
}
#footerlink:hover{
  border-bottom: 1px solid #fff;
}
@media only screen and (max-width: 992px) {
  nav{
    width: 100%;
  }
}